@use "../../../node_modules/bulma/sass/grid/columns.sass";

.home {
  padding: 25px 20px;
  min-height: 80%;
  width: 100%;
  text-align: center;
}
.contact {
  p {
    line-height: 1.5em;
    font-weight: bold;
  }
}

.notRobot {
  color: #204999;
  background-color: white;
  border: 0px solid #204999;
  border-radius: 5px;
  font-size: inherit;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  //animation: bookChange 1s ease-in-out 250ms infinite alternate;
}
.forYou {
  color: #204999;
}
@keyframes bookChange {
  from {
    color: #204999;
  }
  to {
    color: white;
  }
}
.book {
  color: #204999;
  background-color: white;
  text-decoration: underline;
  &:hover {
    animation: bookChange 1s ease-in-out 250ms infinite alternate;
  }
}
